<section id="home" class="container text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>StaticPages#home</h2>
			<p>Lorem ipsum dolor sit amet, quis omnis definitiones quo eu. Has ne hendrerit expetendis, sint postulant no eum. <a href="#">Error option placerat ne has</a>, qui an admodum maiorum fastidii. At quis mundi nihil has, dicam vidisse est ex, mea cu suas novum mediocrem. Wisi efficiendi vim cu.</p>
			<p>Perfecto gloriatur cu pro. Pro verear nusquam eu, pro ad labores menandri. Vim eu sonet elitr possim, eam meliore rationibus ex. <a href="#">Affert tincidunt eloquentiam et vis</a>, aperiri delenit legimus mea te. Has et liber laboramus, eum an nobis impetus assentior, verear pericula eum ut.</p>
    </div>
  </div>
</section>
